#selectorToggle {
    flex: 0 0 15%;
    background-color: #323232;
    text-decoration: none;
    text-align: left;
    width: 15%;
}

#selectorBlock {
    flex: 0 0 15%;
    width: 15%;
    height: 100%;
    float: left;
    z-index: 1;
    background-color: #323232;
    overflow-x: hidden;
    transition: 0.5s;
}

    #selectorBlock > #selectorItem,
    #selectorToggle > #selectorItem {
        width: 100%;
    }

#selectorItem a {
    background-color: #323232;
    padding: 0px 8px 0px 32px;
    text-decoration: none;
    font-size: 25px;
    text-align: left;
    width: 100%;
    line-height: 48px;
    color: #FFF8EC;
    display: block;
    transition: 0.3s;
}

    #selectorItem a:hover {
        color: darkgray;
    }
